small {
    font-style:italic;
    color:grey;
}

* {
    font-family: "Segoe UI", sans-serif;
}

.cntr {
    padding: 7%;
    padding-top: 30px;
}

#name {
    text-align: center;
    font-size: 400%;
}

